body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(0, 63, 212);

}

.logo-hi-mix {
    text-align: center;
    margin: 50px 0;
}

.logo-hi-mix p {
    font-size: 18px;
    color: #fff;
    gap: 10px;
}

#div_login {
    padding: 20px;
    border: 1px solid #ccc;
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login_fields {
    margin-bottom: 15px;
}

#div_user,
#div_pass {
    font-weight: bold;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

#username,
#password {
    width: calc(100% - 10px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#btn_login {
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 63, 212);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btn_login:hover {
    background-color: rgb(148, 167, 212);
}

.ui-widget {
    margin-top: 10px;
}

.ui-state-error {
    padding: 10px;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    border-radius: 5px;
    color: #a94442;
}
